html {
  height: 100%;
}

body {
  min-height: 100%;
}

.white-textarea {
  border: 1px solid #424242;
  box-shadow: 0 0 1em #606c76;
  border-radius: 5px;
  background-color: #fefefe;
  resize:none;
}

.white-table {
  border-collapse:separate;
  border-spacing: 0 5px;
  margin-bottom: 4px;
}

.white-td {
  padding: 0px;
  border: 0px;
}

.white-td:hover .trash-icon {
  display: block;
}

.trash-icon {
  margin-top: 5px;
  margin-right: 5px;
  color: black;
  display: none;
}

.trash-icon:hover {
  color: red;
}

.padding-left{
  margin: 0px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid #424242;
  border-radius: 3px;
  background-color: #fefefe;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border: 1px solid #FFFFFF;
  padding: 10px;
  box-shadow: 2px 2px;
  border-radius: 10px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
}

.cancel {
  background-color: red !important;
  border: 0px !important;
}

.text-border {
  box-shadow: 0 0 1px #000000;
}

.col-33 {
  flex: 0 0 32.5%;
  max-width: 32.5%;
  border: 1px solid #424242; /* Dotted border */
  width: 80%;
  border-radius: 5px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  /* max-width: 600px; */
  padding: 10px;
  /* box-shadow: 6px 0px 6px #000000; */
  min-height: 100%;
}

.col-25 {
  flex: 0 0 24.5%;
  max-width: 24.5%;
  border: 1px solid #424242; /* Dotted border */
  width: 80%;
  border-radius: 5px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  /* max-width: 600px; */
  padding: 10px;
  /* box-shadow: 6px 0px 6px #000000; */
  min-height: 100%;
}

.col-50 {
  flex: 0 0 49.5%;
  max-width: 49.5%;
  border: 1px solid #424242;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  min-height: 100%;
}

.col-50-50 {
  display:inline-block;
  vertical-align: text-top;
  flex: 0 0 50%;
  max-width: 50%;
  border: 0px;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  min-height: 80%;
}

.maximum-height {
  min-height: 100%
}

.column-height {
  height: 100%;
}

.confirmation-checkbox {
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.label-confirmation {
  display: inline-flex;
  font-weight: normal;
  margin-bottom: 2rem;
}

.left {
  float: left;
  margin: 18px;
}

.right {
  float: right;
  margin: 7px;
}

.header-list {
  height: 6rem;
  border-bottom: solid 1px;
}

.table-title {
  text-align: center;
}

.link {
  color: black;
  font-weight: bold;
  margin: 1rem;
  margin-left: 9rem;
  cursor: pointer;
}

.link:hover {
  color: white;
}

.container-link {
  background: #DCDCDC;
  display: flex;
}
